# Android Studio

**.iml
**/.gradle
**/.idea/assetWizardSettings.xml
**/.idea/caches
**/.idea/gradle.xml
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/vcs.xml
**.DS_Store
**/build
**/captures
**.externalNativeBuild
**.cxx
**local.properties


# Project Specific

## RetrofitMoshiRecyclerView
Practice/RetrofitMoshiRecyclerView/apikey.properties

## Stonks
Practice/Stonks/apikey.properties
